/* Default */
* {
	padding: 0;
	margin: 0;
}

.hide-desktop {
	display: block;
}
/* Sidebar */
.sidebar-main {
	position: fixed;
	background-color: gray;
	width: 100vw;

	/* layout */
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 20px 1fr auto 20px;
}
/* LOGO */
.sidebar-main .logo-container {
	height: 60px;
	/* Layout */
	grid-column: 2/3;
}
.sidebar-main .logo-container img {
	height: 100%;
	width: auto;
}

/* Main */
.main {
	height: 100vh;
}
.sidebar-main .menu-container {
	list-style: none;
	padding: 0;
	margin: 0;
	/* Layot */
	grid-column: 3/4;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	grid-auto-columns: 120px;
} /* Menu */

.sidebar-main .menu-container li {
	/* Layout */
	display: grid;
	place-items: center;
}
.sidebar-main .menu-container li:hover {
	color: white;
	cursor: pointer;
}

/* Helper */
.hide-desktop {
	display: block;
}
/* Icon */
.sidebar-main .icon-container {
	/* Layout */
	grid-column: 3/4;
	display: grid;
	place-items: center;
}
.sidebar-main .icon-container i {
	font-size: 30px;
}
.sidebar-main .icon-container i:hover {
	color: white;
	cursor: pointer;
}
.sidebar-main .menu-container {
	position: fixed;
	width: 100vw;
	height: 200px;
	background-color: rgba(168, 168, 168, 0.733);
	top: 60px;

	/* Layout  for column*/
	grid-auto-flow: row;
	grid-auto-rows: 50px;
	grid-auto-columns: 1fr;
	align-items: unset;
}
.sidebar-main .menu-container li {
	/* Layout */
	display: grid;
	place-items: center;
}
.sidebar-main .menu-container li:hover {
	background-color: white;
	color: black;
}
/* Menu Animation  */
.sidebar-main .menu-container.hide {
	height: 0px;
}
.sidebar-main .menu-container.hide li {
	display: none;
}
.sid .sidebar-main .menu-container.show {
	height: 200px;
}
/* DESKTOP */
@media only screen and (min-width: 769px) {
	/* Sidebar */
	.sidebar-main {
		position: fixed;
		background-color: gray;
		width: 100vw;

		/* layout */
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: 20px 1fr auto 20px;
	}
	/* LOGO */
	.sidebar-main .logo-container {
		height: 60px;
		/* Layout */
		grid-column: 2/3;
	}
	.sidebar-main .logo-container img {
		height: 100%;
		width: auto;
	}

	/* Main */
	.main {
		height: 100vh;
	}
	.sidebar-main .menu-container {
		list-style: none;
		padding: 0;
		margin: 0;
		/* Layot */
		grid-column: 3/4;
		display: grid;
		grid-auto-flow: column;
		align-items: center;
		grid-auto-columns: 120px;
	} /* Menu */
	.sidebar-main .menu-container li:hover {
		color: white;
		cursor: pointer;
	}
}
/* Table */
@media only screen and (min-width: 578px) and (max-width: 768px) {
	/* Helper */
	.hide-desktop {
		display: block;
	}
	/* Icon */
	.sidebar-main .icon-container {
		/* Layout */
		grid-column: 3/4;
		display: grid;
		place-items: center;
	}
	.sidebar-main .icon-container i {
		font-size: 30px;
	}
	.sidebar-main .icon-container i:hover {
		color: white;
		cursor: pointer;
	}
	.sidebar-main .menu-container {
		position: fixed;
		width: 100vw;
		height: 200px;
		background-color: rgba(168, 168, 168, 0.733);
		top: 60px;
		transition: all 0.5s ease;

		/* Layout  for column*/
		grid-auto-flow: row;
		grid-auto-rows: 50px;
		grid-auto-columns: 1fr;
		align-items: unset;
	}
	.sidebar-main .menu-container li {
		/* Layout */
		display: grid;
		place-items: center;
	}
	.sidebar-main .menu-container li:hover {
		background-color: white;
		color: black;
	}
	/* Menu Animation */
	.sidebar-main .menu-container.hide {
		height: 0px;
	}
	.sidebar-main .menu-container.hide li {
		display: none;
	}
	.sidebar-main .menu-container.show {
		height: 200px;
	}
}
/* Mobile */
@media only screen and (max-width: 578px) {
	/* Helper */
	.hide-desktop {
		display: block;
	}
	/* Icon */
	.sidebar-main .icon-container {
		/* Layout */
		grid-column: 3/4;
		display: grid;
		place-items: center;
	}
	.sidebar-main .icon-container i {
		font-size: 30px;
	}
	.sidebar-main .icon-container i:hover {
		color: white;
		cursor: pointer;
	}
	.sidebar-main .menu-container {
		position: fixed;
		width: 100vw;
		height: 200px;
		background-color: rgba(168, 168, 168, 0.733);
		top: 60px;

		/* Layout  for column*/
		grid-auto-flow: row;
		grid-auto-rows: 50px;
		grid-auto-columns: 1fr;
		align-items: unset;
	}
	.sidebar-main .menu-container li {
		/* Layout */
		display: grid;
		place-items: center;
	}
	.sidebar-main .menu-container li:hover {
		background-color: white;
		color: black;
	}
	/* Menu Animation  */
	.sidebar-main .menu-container.hide {
		height: 0px;
	}
	.sidebar-main .menu-container.hide li {
		display: none;
	}
	.sidebar-main .menu-container.show {
		height: 200px;
	}
}
